<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"> {{ game.title }} </span>
            <div class='row'>
                <div class='col s12 m6'>
                    <span class='col s6 bold'>Platform: </span>
                    <span class='col s6'> {{game.platform}}</span>
                </div>
                <div class='col s12 m6'>
                    <span class='col s6 bold'>Score: </span>
                    <span class='col s6'> {{game.score}}</span>
                </div>
            </div>
            <div class='row'>
                <div class='col s12 m6'>
                    <span class='col s6 bold'>Genre: </span>
                    <span class='col s6'> {{game.genre}}</span>
                </div>
                <div class='col s12 m6'>
                    <span class='col s6 bold'>Editors Choice: </span>
                    <span class='col s6'> {{ game.editors_choice }} </span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>